/* ContentSection.css */
.content-section {
    background-color: #f4f4f9; /* Light background color */
    padding-top: 50px;
    padding-bottom: 50px;
  }
  
  .content-section h2 {
    font-size: 2rem;
    color: #333;
    font-weight: 500;
  }
  
  .content-section p {
    font-size: 1.2rem;
    color: #555;
  }
  